<div class="post">
<%= form_with model: @post, local: true do |form| %>
  <div class="form">
    <p>
  <div class="form_label">  
      <%= form.label :genre %>
  </div>
    <div class="form_contents">
      <%= form.select :genre, Post.genres_i18n.invert %>
    </div>
    </p>
  </div>
  <div class="form">
    <p>
  <div class="form_label">
      <%= form.label :title %>
  </div>
  <div class="form_contents">
      <%= form.text_field :title %>
  </div>    
    </p>
  </div>
  <div class="form">
  <p>
  <div class="form_label">
    <%= form.label :code %>
  </div>
  <div class="form_contents">
    <%= form.text_area :code,size: "100x30" %>
  </div>
  </p>
  </div>
  <div class="form_submit">
    <%= form.submit "投稿" %>
  </div>
<% end %>
</div>